
.cart{
    display: grid;
    grid-template-columns: 2fr 2fr;

    grid-column-gap: 20px;
    border: solid #24242452 1px;
    padding: 55px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
}
.cartElement{
    text-align: center;
}