/* ItemCount.module.css */
.itemCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }
  .itemContador{
    margin: 15px;
    display: flex;
    flex-direction: row;
    
  }
  .itemContador button {
    padding: 5px 10px;
    margin: 0 5px;

  }
  .itemContador span {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 25px;
    
  }
  .addButton {
    margin-left: 10px;
    margin: 1px 20px;
    padding: 15px;
    background-color: #FF6F0F;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
  }
  