.carrito {
    position: relative; 
    display: inline-block; 
    cursor: pointer;
    transition: 1s;
    margin: 0 15px;
    
    
}
.carrito:hover{
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2); 
    
}
.carritoIcono {
    font-size: 50px; 
    padding: 0 5px;
    color: white;
}

.contadorCarrito {
    position: absolute; 
    top: 0; 
    right: 0; 
    background-color: #ddd; 
    color: rgb(0, 0, 0); 
    border-radius: 50%; 
    padding: 2px 6px;
    font-size: 12px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}